# **Entity Relationship Diagram (ERD) Staging Queries**
The following queries were used to create an ERD of the Global Surface Temperature Data across the five tables.

## **Primary Key Queries**

#### **Showing dt attribute is a primary key for Global_Temperatures**

In [2]:
%%bigquery
SELECT COUNT(*) as Record_Count
FROM kaggle_staging.Global_Temperatures

   Record_Count
0          3192

In [3]:
%%bigquery 
SELECT COUNT(DISTINCT dt) as dt_Count
FROM kaggle_staging.Global_Temperatures

   dt_Count
0      3192

#### **Showing no obvious primary key for Global_Land_Temperatures_by_State**

In [51]:
%%bigquery
SELECT  COUNT(*) as Record_Count,
COUNT(DISTINCT dt) as dt_Count,
COUNT(DISTINCT AverageTemperature) as AvgTemp_Count,
COUNT(DISTINCT AverageTemperatureUncertainty) as AvgTempUncertainty_Count,
COUNT(DISTINCT State) as State_Count,
COUNT(DISTINCT Country) as Country_Count
FROM kaggle_staging.Global_Land_Temperatures_by_State

,Record_Count,dt_Count,AvgTemp_Count,AvgTempUncertainty_Count,State_Count,Country_Count
0,645675,3239,100924,8040,241,7

#### **Showing no obvious primary key for Global_Land_Temperatures_by_City**

In [50]:
%%bigquery
SELECT  COUNT(*) as Record_Count,
COUNT(DISTINCT dt) as dt_Count,
COUNT(DISTINCT AverageTemperature) as AvgTemp_Count,
COUNT(DISTINCT AverageTemperatureUncertainty) as AvgTempUncertainty_Count,
COUNT(DISTINCT City) as City_Count,
COUNT(DISTINCT Country) as Country_Count,
COUNT(DISTINCT Latitude) as Latitude_Count,
COUNT(DISTINCT Longitude) as Longitude_Count
FROM kaggle_staging.Global_Land_Temperatures_by_City

,Record_Count,dt_Count,AvgTemp_Count,AvgTempUncertainty_Count,City_Count,Country_Count,Latitude_Count,Longitude_Count
0,8599212,3239,113163,10902,3448,159,73,1227

#### **Showing no obvious primary key for Global_Land_Temperatures_by_Country**

In [49]:
%%bigquery
SELECT COUNT(*) as Record_Count,
COUNT(DISTINCT dt) as dt_Count,
COUNT(DISTINCT AverageTemperature) as AvgTemp_Count,
COUNT(DISTINCT AverageTemperatureUncertainty) as AvgTempUncertainty_Count,
COUNT(DISTINCT Country) as Country_Count
FROM kaggle_staging.Global_Land_Temperatures_by_Country

,Record_Count,dt_Count,AvgTemp_Count,AvgTempUncertainty_Count,Country_Count
0,577462,3239,77219,8979,243

#### **Showing no obvious primary key for Global_Land_Temperatures_by_Major_City**

In [48]:
%%bigquery 
SELECT  COUNT(*) as Record_Count,
COUNT(DISTINCT dt) as dt_Count,
COUNT(DISTINCT AverageTemperature) as AvgTemp_Count,
COUNT(DISTINCT AverageTemperatureUncertainty) as AvgTempUncertainty_Count,
COUNT(DISTINCT City) as City_Count,
COUNT(DISTINCT Country) as Country_Count,
COUNT(DISTINCT Latitude) as Latitude_Count,
COUNT(DISTINCT Longitude) as Longitude_Count
FROM kaggle_staging.Global_Land_Temperatures_by_Major_City

,Record_Count,dt_Count,AvgTemp_Count,AvgTempUncertainty_Count,City_Count,Country_Count,Latitude_Count,Longitude_Count
0,239177,3239,56694,6269,100,49,49,93

## **Foreign Key Queries**

#### **Showing dt attribute is not foreign key for Global_Land_Temperatures_by_State to dt of Global_Temperatures**

In [10]:
%%bigquery 
SELECT COUNT(*) as Unmatched_Elements
FROM kaggle_staging.Global_Land_Temperatures_by_State
LEFT JOIN kaggle_staging.Global_Temperatures
ON Global_Land_Temperatures_by_State.dt = Global_Temperatures.dt
WHERE Global_Temperatures.dt IS NULL

   Unmatched_Elements
0                5920

#### **Showing dt attribute is not foreign key for Global_Land_Temperatures_by_City to dt of Global_Temperatures**

In [11]:
%%bigquery 
SELECT COUNT(*) as Unmatched_Elements
FROM kaggle_staging.Global_Land_Temperatures_by_City
LEFT JOIN kaggle_staging.Global_Temperatures
ON Global_Land_Temperatures_by_City.dt = Global_Temperatures.dt
WHERE Global_Temperatures.dt IS NULL

   Unmatched_Elements
0               52244

#### **Showing dt attribute is not foreign key for Global_Land_Temperatures_by_Country to dt of Global_Temperatures**

In [13]:
%%bigquery 
SELECT COUNT(*) as Unmatched_Elements
FROM kaggle_staging.Global_Land_Temperatures_by_Country
LEFT JOIN kaggle_staging.Global_Temperatures
ON Global_Land_Temperatures_by_Country.dt = Global_Temperatures.dt
WHERE Global_Temperatures.dt IS NULL

   Unmatched_Elements
0                3700

#### **Showing dt attribute is not foreign key for Global_Land_Temperatures_by_Major_City to dt of Global_Temperatures**

In [14]:
%%bigquery 
SELECT COUNT(*) as Unmatched_Elements
FROM kaggle_staging.Global_Land_Temperatures_by_Major_City
LEFT JOIN kaggle_staging.Global_Temperatures
ON Global_Land_Temperatures_by_Major_City.dt = Global_Temperatures.dt
WHERE Global_Temperatures.dt IS NULL

   Unmatched_Elements
0                 962